.button1 {
  background-color: #20B2AA;
  border: none;
  color: white;
  /* padding: 80px 300px; */
  width: 700px;
  height: 200px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button2 {
  /* background-color: #E9967A; */
  background: url(https://learntocodewith.me/wp-content/uploads/2014/11/black-girls-code.jpg) ;
  border: none;
  color: white;
  /* padding: 80px 161px; */
  width:540px;
  height:200px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button3 {
  background: url(cssi.png) ;
  border: none;
  color: white;
  /* padding: 80px 180px; */
  width:600px;
  height:200px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button4 {
  background-color: #0000FF;
  border: none;
  color: white;
  width:639px;
  height:200px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button5 {
  background-color: #9370DB;
  border: none;
  color: white;
  /* padding: 80px 132px; */
  width: 239px;
  height:200px ;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button6 {
  background: url(klossy.png);
  border: none;
  color: white;
  /* padding: 80px 160px; */
  height:200px;
  width: 500px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button7 {
  background-color: #20B2AA;
  border: none;
  color: white;
  /* padding: 80px 121px; */
  width: 491px;
  height: 200px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button8 {
  background-color: #0000CD;
  border: none;
  color: white;
  /* padding: 80px 160px; */
  width:600px ;
  height: 200px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button9 {
  background-color: #0000FF;
  border: none;
  color: white;
  /* padding: 80px 299.5px; */
  width:638px;
  height: 200px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button10 {
  background: url(Capture.png);
  border: none;
  color: white;
  /* padding: 80px 150px; */
  width: 438px;
  height: 200px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button11{
  background-color: #87CEEB;
  border: none;
  color: white;
  /* padding: 80px 200px; */
  width: 400px;
  height: 200px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button12 {
  background-color: #E9967A;
  border: none;
  color: white;
  /* padding: 80px 49.9px; */
  width:393px ;
  height: 200px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button13 {
  background-color: #0000CD;
  border: none;
  color: white;
  /* padding: 80px 85px; */
  width: 500px;
  height: 200px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button14 {
  background: url(girls.png);
  border: none;
  color: white;
  /* padding: 80px 230px; */
  width:739px;
  height: 200px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button1:hover {opacity: 1}
.button2:hover {opacity: 1}
.button3:hover {opacity: 1}
.button4:hover {opacity: 1}
.button5:hover {opacity: 1}
.button6:hover {opacity: 1}
.button7:hover {opacity: 1}
.button8:hover {opacity: 1}
.button9:hover {opacity: 1}
.button10:hover {opacity: 1}
.button11:hover {opacity: 1}
.button12:hover {opacity: 1}
.button13:hover {opacity: 1}
.button14:hover {opacity: 1}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


/* the girl in logo */
.header {
 font-size: 15px;
 font-family: 'Roboto Mono', monospace;
 color: white;
 padding-top: 25px;
 padding-bottom: 0px;
 padding-right: 1000px;
 padding-left: 0px;
}

h4{
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 120px;
  margin-bottom: 0px;
  padding-left: 50px;
  margin-top:180px;
}

/*page large text description*/
h5{
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 15px;
  margin-bottom: 0px;
  padding-left: px;
  margin-top:420px;
}

a > button {
  vertical-align: top;
}

/* the 404 in logo */
#logo {
  font-size: 40px;
  color: white;
}
/* padding for buttons*/
#sec2 {
    padding-left: 620px;
}

/* buttons design*/
#sec2 > a {
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
    padding-left: 25px;
    padding-bottom: 600px;
    padding-right: 25px;
    padding-bottom: 50px;
    text-decoration: none;
}

/* hover feature for buttons */
a:link {
  font-size:17px;
  color: black;
}

a:visited {
  font-size:17px;
  color: black;
}

a:hover {
    color: white;
}

/* image background*/
#div1
body, html {
    /* The image used */
   background-image: url("woman-hands-typing.jpg");

    /* Full height */
    height: 100%;
    margin: -5px;
    /* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.parallax {
  margin-top: 305px;
  background-color: white;
  padding-top: 7px;
}


.container {
    position: relative;
    text-align: center;
    color: white;
}

.container > h1 {
  position: absolute;
  top: 50px;
  left: 15px;
}

#sec2 {
  position: absolute;
  top: 100px;
  right: 16px;
}


.bn span#a {
  display: inline;
}

.bn:hover span#a {
  display: none;
}

.bn span#b {
  display: none;
}

.bn:hover span#b {
  display: inline;
}
